<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IC6.JiraToVSTS.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="IC6.JiraToVSTS.Console.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings> 
    <add key="vstsURL" value=""/>

    <add key="" value="https://madlab.atlassian.net"/>
    <add key="jiraUserName" value="michele.ferracin"/>
    <add key="jiraPassword" value="AMcbozB76Q70"/>
  </appSettings>
  <applicationSettings>
    <IC6.JiraToVSTS.Console.Settings>
      <setting name="VstsPAT" serializeAs="String">
        <value>xxxxxxxxxxxxxxxxxxx</value>
      </setting>
      <setting name="VstsURL" serializeAs="String">
        <value>https://aaaaaaaaaaaaaaaa.visualstudio.com</value>
      </setting>
      <setting name="JiraURL" serializeAs="String">
        <value>https://ffffffffffff.atlassian.net</value>
      </setting>
      <setting name="JiraPassword" serializeAs="String">
        <value>qqqqqqqqqqqqq</value>
      </setting>
      <setting name="JiraUser" serializeAs="String">
        <value>fffffffffffffff</value>
      </setting>
    </IC6.JiraToVSTS.Console.Settings>
    <IC6.JiraToVSTS.Console.Settings1>
      <setting name="vstsPAT" serializeAs="String">
        <value>jegco6p5dp7ri7u4nra45mqcswdoys5ru4jhmcqtdcywz3dbcypq</value>
      </setting>
      <setting name="vstsURL" serializeAs="String">
        <value>https://micheleferracin.atlassian.net</value>
      </setting>
      <setting name="jiraURL" serializeAs="String">
        <value>https://madlab.atlassian.net</value>
      </setting>
      <setting name="jiraPassword" serializeAs="String">
        <value>AMcbozB76Q70</value>
      </setting>
      <setting name="jiraUser" serializeAs="String">
        <value>michele.ferracin</value>
      </setting>
    </IC6.JiraToVSTS.Console.Settings1>
  </applicationSettings>
</configuration>